body {
    background-color:#3C84AB ;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}


a {
    color: #11999E;
    font-weight: normal;
}
h1 {
    color: #66BFBF;
    font-size: 90px;
    margin-top: 0;
    font-family: 'Shantell Sans', cursive;
   
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
.pro {
    text-decoration: underline;
}
.top-container {
    background-color: #85CDFD;
    position: relative;
    padding-top: 100px;
    padding-bottom: 20px;
}
.middle-container{
    padding: 20px;
    background-color: #85CDFD;
     
    
}
.bottom-container {
    padding: 10px;
    background-color: #85CDFD;

}
.top-cloud {
    position: absolute;
    top: 50px;
    right: 350px;
    
}

.bottom-cloud {
    position: absolute;
    bottom: 300px;
    
   
    
}