body {
    
    margin: 0;
    text-align: center;
    
}

a {
    color: white;
    font-weight: normal;
}

p {
    color: #66BFBF;
}

hr {
    border-color: #66BFBF;
    border-width: 5px;
    width: 15%;
    border-style: dotted none none;
    background-color: #FEFBE9;
}

h1 {
    color: #66BFBF;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive, sans-serif;
    font-weight: normal;
    line-height: 2;
   
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
.pro {
    text-decoration: underline;
}
.top-container {
    background-color: #B4E4FF;
    position: relative;
    padding-top: 100px;
    
}
/*------------------TOP CONTAINER-------------------*/
.top-cloud {
    position: absolute;
    height: 150px;
    top: 50px;
    right: 450px;
    
    
}

.mountain-pic {
    padding: auto;
    height: 500px;
}

.bottom-cloud {
    position: absolute;
    height: 200px;
    left: 450px;
    
}

/*------------------MIDDLE CONTAINER-------------------*/
.middle-container{
    padding: 20px;
    background-color: #FEFBE9;
     
    
}
/*------------------BOTTOM CONTAINER-------------------*/
.bottom-container {
    padding: 10px;
    background-color: #B4E4FF;

}

.LinkedIn-img {
    height: 50px;
    padding: 10px;
}

.email-img {
    height: 50px;
}