body {
    margin: 0;
    text-align: center;
    color: #40514E;
    background-color: #F7F1E5;
    width: 100%;
    height: auto;
}

p {
    line-height: 2;
    font-size: 1rem;
}

hr {
    border-color: #6C7B95;
    border-width: 5px;
    width: 15%;
    margin: 100px auto;
    border-style: dotted none none;
    background-color: #E6E6E6;
}

h1 {
    color: #3C79F5;
    font-size: 5.1vw;
    /*font-size: 5.625rem;*/
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive, sans-serif;
    font-weight: normal;
    line-height: 2;
    height: auto;
    width: auto;
   

}
h2 {
    color: #3C79F5;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2vw;
    font-weight: normal;
    padding-bottom: 10px;
    height: auto;
    width: auto;
}

h3 {
    color: #3C79F5;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    height: auto;
    width: auto;
}
.pro {
    text-decoration: underline;
}


/*------------------TOP CONTAINER-------------------*/
.top-container {
    background-color: #B4E4FF;
    position: relative;
    padding-top: 100px;
    height: auto;
    width: 100%;
    
}

.top-cloud {
    position: absolute;
    width: 8%;
    height: auto;
    top: 50px;
    right: 30%;
    
    
}

.top-cloud-1 {
    position: absolute;
    height: auto;
    width: 8%;
    top: 50px;
    left: 12%;
    
    
}

.mountain-pic {
    padding: auto;
    width: 50%;
    height: auto;
}

.bottom-cloud {
    position: absolute;
    
    height: auto;
    left: 25%;
    width: 10%;
    
}

/*------------------MIDDLE CONTAINER---#FEFBE9----------------*/
.middle-container{
    margin: 100px 0;
    padding: 20px;
    height: auto;
     
}



.profile-pic {
    border-radius: 50%;
    width: 10%;  
    height: 10%;  
    object-fit: cover
}

.intro {
    width: 30%;
    margin: auto;
}

.computer-pic {
    width: 25%;
    float: left;
    margin-right: 30px;

    
}

.cyber-pic {
    width: 25%;
    float: right;
    margin-left: 30px;
    
}


.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    
}
/*------------------BOTTOM CONTAINER-------------------*/

.bottom-container{
    background-color: #9BA4B4;
    padding: 50px 0 20px;
}


.linkedIn-img {
    height: 50px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    
}

.linkedIn-img:hover{
    filter: brightness(120%);
}

.email-img {
    height: 50px;
    -webkit-transition: all 0.2 ease;
    -moz-transition: all 0.2 ease;
    -o-transition: all 0.2 ease;
    -ms-transition: all 0.2 ease;
    transition: all 0.2 ease;
    
}

.email-img:hover {
    filter: brightness(120%);
}
.link {
    
    text-decoration: none;
}

.copyright{
    color: #E6E6E6;
    font-size: 0.75rem;
    padding: 10px 0;
}
